<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Templates - Asperato developers</title>

    <link href="../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/highlight.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="..">Asperato developers</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="..">Home</a>
                    </li>
                
                
                
                    <li >
                        <a href="../sf/">Salesforce package</a>
                    </li>
                
                
                
                    <li class="active">
                        <a href="./">Templates</a>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                
                    <li >
                        <a rel="next" href="../sf/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li class="disabled">
                        <a rel="prev" >
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/Asperato/docs">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#payment-template">Payment template</a></li>
        
    
        <li class="first-level "><a href="#standard-modifications">Standard modifications</a></li>
        
    
        <li class="first-level "><a href="#extensive-modifications">Extensive modifications</a></li>
        
            <li class="second-level"><a href="#id-class-attributes">ID / class attributes</a></li>
            
        
            <li class="second-level"><a href="#additional-js">Additional JS</a></li>
            
        
            <li class="second-level"><a href="#endpoint-method">Endpoint &amp; Method</a></li>
            
        
            <li class="second-level"><a href="#onload-javascript">Onload Javascript</a></li>
            
        
            <li class="second-level"><a href="#postcode-lookup">Postcode lookup</a></li>
            
        
            <li class="second-level"><a href="#field-names">Field names</a></li>
            
                <li class="third-level"><a href="#required-fields">Required fields</a></li>
            
                <li class="third-level"><a href="#required-card-fields">Required card fields</a></li>
            
                <li class="third-level"><a href="#optional-card-fields">Optional card fields</a></li>
            
                <li class="third-level"><a href="#required-direct-debit-ach-fields">Required Direct Debit / ACH fields</a></li>
            
                <li class="third-level"><a href="#address-fields">Address fields</a></li>
            
        
    
        <li class="first-level "><a href="#pre-populating-the-template">Pre-populating the template</a></li>
        
    
        <li class="first-level "><a href="#direct-debit-legal-requirements">Direct Debit Legal Requirements</a></li>
        
            <li class="second-level"><a href="#payment-page-requirements">Payment page requirements</a></li>
            
        
            <li class="second-level"><a href="#confirmation-page-requirements">Confirmation page requirements</a></li>
            
        
            <li class="second-level"><a href="#error-page-requirements">Error page requirements</a></li>
            
        
    
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<h1 id="payment-template">Payment template</h1>
<p>The standard payment template is provided by Asperato and will look similar to the following:</p>
<p><img alt="Asperato standard payment template" src="../unmodified_template.png" title="Asperato standard template" /></p>
<p>To obtain a copy of the standard paypage for modification, please email support@asperato.com. Most users only wish to make a few standard modifications to the template - this is the recommended approach. However, it is possible to complete redesign the template if required.</p>
<h1 id="standard-modifications">Standard modifications</h1>
<ul>
<li>
<p><strong>Changing the company name</strong>
Open <code>style.css</code>, and find the following section:</p>
<pre><code>.companyname::before {
    content: "MyCompany";
}
</code></pre>
<p>Change the content to your own company name.</p>
<p>If you are using GoCardless Pro, and have your own SUN, then you also need to find and change the following sections:</p>
<pre><code>.ddcompanyname::before {
    /* Change this to your company name */
    content: "GoCardless Ltd";
}

.creditorid::before {
    /* Change this to your creditor id (only required if using SEPA direct debit) */
    content: "GB18ZZZSDDRB0S00275069";
}

.ddcompanyaddress::before {
    /* Change this to your company address, telephone number and email address respectively */
    content: "338-346 Goswell Road, London, EC1V 7LQ, United Kingdom, 020 7183 8674, help@gocardless.com";
}
</code></pre>
<p>If you are using GoCardless standard, you must leave these fields as they are. If you are not using direct debit, you can ignore these.</p>
</li>
<li>
<p><strong>Changing the logo</strong>
Just replace the <code>logo.png</code> file in the template directory with one of your own. The recommended size is <code>380x120</code>, but you can experiment to find a size that works well.</p>
</li>
<li>
<p><strong>Changing the font</strong>
Open <code>style.css</code>, and find the following section:</p>
<pre><code>body {
    margin: 0;
    text-align: center;
    background-color: white;
    font-family: karla;
}
</code></pre>
<p>Change <code>karla</code> to whatever font family you wish to use on the template.</p>
</li>
<li>
<p><strong>Changing the background colour</strong>
As above, Open <code>style.css</code>, and find the following section:</p>
<pre><code>body {
    margin: 0;
    text-align: center;
    background-color: white;
    font-family: karla;
}
</code></pre>
<p>Change <code>white</code> to whatever background colour you wish to use on the template.</p>
</li>
<li>
<p><strong>Changing the submit button colour</strong>
Open <code>style.css</code>, and find the following section:</p>
<pre><code>.submitbutton {
    ...
    background-color: #5092DA;
    ...
}
</code></pre>
<p>Change `#5092DA' to whatever background colour you wish to use for the submit button.</p>
</li>
<li>
<p><strong>Removing the cancel link</strong>
Open <code>style.css</code>, and find the following section:</p>
<pre><code> .cancelbutton {
     /* Uncomment if a cancel button isn't required on the payment page */
     /*display: none;*/
 }
</code></pre>
<p>Uncomment the <code>display: none;</code> as directed (remove the <code>/*</code> and <code>*/</code> either side.)</p>
</li>
<li>
<p><strong>Removing the "pay as company" link</strong>
Open <code>style.css</code>, and find the following section:</p>
<pre><code>.label.right.payascompanylink {
    /* Uncomment to hide the "pay as company" link */
    /*display: none;*/
}
</code></pre>
<p>Uncomment the <code>display: none;</code> as directed (remove the <code>/*</code> and <code>*/</code> either side.)</p>
</li>
</ul>
<h1 id="extensive-modifications">Extensive modifications</h1>
<p>The paypage as provided can be modified to provide it with an entirely custom look - both the HTML markup and the CSS may be changed.</p>
<p>However, extensively modifying the template can be a lot of work, and you can end up needing to re-implement many of the features the original template provides:</p>
<ul>
<li>Javascript based card type identification from number (IIN range checker)</li>
<li>Start date and issue number fields dynamically displayed (based on card number) when required</li>
<li>Validation of user input, including Luhn algorithm on card number</li>
<li>Third party validation of bank details prior to submission (via Ajax)</li>
<li>UK postcode lookup</li>
<li>Responsive to mobile devices</li>
<li>Payment options set dynamically within Salesforce (Card, Direct debit or Paypal)</li>
<li>Can switch between taking a payment or updating an authorisation</li>
<li>Fully compatible with all modern browsers</li>
</ul>
<p>Asperato are unable to provide support for templates with extensive modifications.</p>
<p>If you do choose to extensively modify the payment page, then you must read this document thoroughly and adhere to the guidelines.</p>
<p>When your modifications are complete, you must <a href="https://validator.w3.org/">validate the document</a>. Unless there is a very good reason, <strong>Asperato will not allow invalid HTML to be used on payment pages.</strong></p>
<h2 id="id-class-attributes">ID / class attributes</h2>
<p>When modifying the document, please keep the class and ID attributes that are already present, as changing them will break form submission and validation. (Additional class names may be used.)</p>
<h2 id="additional-js">Additional JS</h2>
<p>Additional Javascript is fine, but please place it in a separate file (where possible) rather than altering the provided "script.js" file. We need to manually check the Javascript to make sure it is not malicious in any way, so placing it in a separate file will speed up this process.</p>
<h2 id="endpoint-method">Endpoint &amp; Method</h2>
<ul>
<li>
<p>The method must be <code>POST</code>. Other HTTP methods (such as <code>GET</code>) are not supported.</p>
</li>
<li>
<p>The endpoint (action parameter) must either be <code>/PMWeb2</code>, or <code>/PMWeb2X</code>.</p>
<ul>
<li>
<p><code>PMWeb2X</code> will display a gear animation while the payment is processing, but cannot be used with a hosted payment option (such as GoCardless standard or Paypal);</p>
</li>
<li>
<p><code>PMWeb2</code> will not display the gear animation.</p>
</li>
</ul>
</li>
</ul>
<h2 id="onload-javascript">Onload Javascript</h2>
<p>Immediately after the opening body tag, the following must be left in place:</p>
<p><code>&lt;!-- ONLOAD HERE --&gt;</code></p>
<p>This will provide a hook for injecting the Javascript we need to dynamically modify the paypage (based on data collected from Salesforce.)</p>
<h2 id="postcode-lookup">Postcode lookup</h2>
<p>You may wish to include a postcode lookup in your page - we have this facility available as a simple JSON endpoint to which you can fire an AJAX request.</p>
<p><strong>Endpoint:</strong> <code>/Asperato/asp/PMPostcode</code></p>
<ul>
<li>
<p>This will be <a href="https://test.protectedpayments.net/Asperato/asp/PMPostcode">https://test.protectedpayments.net/Asperato/asp/PMPostcode</a> for test and <a href="https://test.protectedpayments.net/Asperato/asp/PMPostcode">https://live.protectedpayments.net/Asperato/asp/PMPostcode</a> for live.</p>
</li>
<li>
<p>Do not specify the full URL in your Javascript, as the same origin policy will then break the functionality when moving from test to live.</p>
</li>
</ul>
<p><strong>Method: </strong><code>GET</code></p>
<p><strong>Parameters:</strong></p>
<ul>
<li>
<p><code>pc</code> - this is the postcode to look up. It should be all in lower case and contain no spaces.</p>
</li>
<li>
<p><code>session</code> - this is the value of the <code>DLsession</code> parameter on the form.</p>
</li>
</ul>
<p>The response will be given as a JSON array.</p>
<p>For example:</p>
<ul>
<li><code>GET</code> <a href="https://test.protectedpayments.net/Asperato/asp/PMPostcode?pc=HD80pq&amp;session=1133557799">https://test.protectedpayments.net/Asperato/asp/PMPostcode?pc=HD80pq&amp;session=1133557799</a></li>
</ul>
<p>Response:</p>
<p><em>["22 Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","24 Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","24a Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","26a Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","28 Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","30 Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","32 Penistone Road, , , , Kirkburton, Huddersfield, West Yorkshire","Shepley Springs Ltd, Brookfield Mills, Penistone Road, , Kirkburton, Huddersfield, West Yorkshire","Spring Grove Fisheries, 26 Penistone Road, , , Kirkburton, Huddersfield, West Yorkshire","Spring Grove Tavern, 20 Penistone Road, , , Kirkburton, Huddersfield, West Yorkshire","The Foxglove, 36a Penistone Road, , , Kirkburton, Huddersfield, West Yorkshire"]</em></p>
<p>The response can then be used to fill a HTML selection box or similar, and the selected value can be used to populate the required fields on the form.</p>
<h2 id="field-names">Field names</h2>
<p>In all cases here, both the <code>id</code> and <code>name</code> attributes of the element must be set to the name given. The attribute value is case sensitive.</p>
<p>Taking <code>DLemail</code> as an example:</p>
<p><code>&lt;input type="text" name="DLemail" id="DLemail"&gt;</code></p>
<h3 id="required-fields">Required fields</h3>
<p>The following fields must be specified on the form regardless of payment method or type:</p>
<h4 id="dlsession">DLsession</h4>
<p>This is an internally generated session number <em>(this field should be set to "type=hidden" and will be automatically populated from Salesforce.)</em></p>
<h4 id="dlpaymode">DLpayMode</h4>
<p>This is an internally generated session number <em>(this field should be set to "type=hidden" and will be automatically populated from Salesforce.)</em></p>
<h4 id="dlpaytype">DLpayType</h4>
<p>This is an internally generated session number <em>(this field should be set to "type=hidden" and will be automatically populated from Salesforce.)</em></p>
<h4 id="dlfrequency">DLFrequency</h4>
<p>The frequency of payment. You may wish to restrict the values to those provided in the "LabelFrequencyOptions" field.</p>
<p>Possible values:</p>
<ul>
<li><code>ONE</code> (single payment)</li>
<li><code>DLY</code> (daily payment)</li>
<li><code>WKL</code> (weekly payment)</li>
<li><code>MON</code> (monthly payment)</li>
<li><code>QTL</code> (quarterly payment)</li>
<li><code>SAN</code> (semi-annual payment)</li>
<li><code>ANN</code> (annual payment)</li>
</ul>
<h4 id="dlamount">DLamount</h4>
<p>The amount to charge. One of DLamount or DLauthAmount must be provided, depending on whether this is a payment template or an authorisation template.</p>
<h4 id="dlauthamount">DLauthAmount</h4>
<p>The amount to authorise. One of DLamount or DLauthAmount must be provided, depending on whether this is a payment template or an authorisation template.</p>
<h4 id="dlemail">DLemail</h4>
<p>The email address of the customer.</p>
<h4 id="labelfrequencyoptions">LabelFrequencyOptions</h4>
<p>The frequency options passed from Salesforce. <em>(this field should be set to "type=hidden" and will be automatically populated from Salesforce. Its “id” attribute must also match the field name.)</em></p>
<h4 id="labelpaymentoptions">LabelPaymentOptions</h4>
<p>The payment options passed from Salesforce <em>(this field should be set to "type=hidden" and will be automatically populated from Salesforce. Its “id” attribute must also match the field name.)</em></p>
<p>You may wish to use this field to restrict the payment options - i.e. hide the option to pay via direct debit if it is set to "card" or vica versa.</p>
<h3 id="required-card-fields">Required card fields</h3>
<p>The following fields must (only) be specified if a debit or credit card payment is being made.</p>
<h4 id="dlcardnumber">DLcardNumber</h4>
<p>The long number on the front of the card.</p>
<h4 id="dlcardtype">DLcardType</h4>
<p>Possible values:</p>
<ul>
<li>
<p>Visa</p>
</li>
<li>
<p>Mastercard</p>
</li>
<li>
<p>Amex</p>
</li>
<li>
<p>Solo</p>
</li>
<li>
<p>Switch</p>
</li>
<li>
<p>Maestro</p>
</li>
<li>
<p>JCB</p>
</li>
</ul>
<h4 id="dlcnp">DLcnp</h4>
<p>Set to "jdi" if cardholder is not present, otherwise do not specify this parameter.</p>
<h4 id="dlcurrency">DLcurrency</h4>
<p>The ISO currency code, eg. "GBP" for British pounds.</p>
<h4 id="dlexpirydatemonth">DLexpiryDateMonth</h4>
<p>The two digit expiry date month of the card.</p>
<h4 id="dlexpirydateyear">DLexpiryDateYear</h4>
<p>The last two digits of the year the card expires.</p>
<h4 id="dlcv2">DLcv2</h4>
<p>The 3 digit security code on the back of the card (or the 4 digit code on the top right of the card for Amex.)</p>
<h3 id="optional-card-fields">Optional card fields</h3>
<p>These fields may be required - they are not for the majority of cards, but some (such as Solo, Maestro and Switch) may need them, so if you expect customers to pay with these cards they should be included.</p>
<h4 id="dlstartdatemonth">DLstartDateMonth</h4>
<p>The two digit start date month of the card</p>
<h4 id="dlstartdateyear">DLstartDateYear</h4>
<p>The last two digits of the start date year.</p>
<h4 id="dlissuenumber">DLissueNumber</h4>
<p>The issue number of the card (often "01" where it exists.)</p>
<h3 id="required-direct-debit-ach-fields">Required Direct Debit / ACH fields</h3>
<p>These fields are only required if making a direct debit or ACH payment.</p>
<h4 id="dlaccountname">DLaccountName</h4>
<p>The full name of the account holder.</p>
<h4 id="dlaccountnumber">DLaccountNumber</h4>
<p>The bank account number.</p>
<h4 id="dlsc">DLsc</h4>
<p>The sort code (direct debit) or routing number (ACH).</p>
<h4 id="dlaccounttype">DLaccountType</h4>
<p>Only necessary for ACH - the account type. Usually "checking" or “savings”.</p>
<h3 id="address-fields">Address fields</h3>
<p>If AVS (address) checking is enabled on your card gateway, then you will need some of these fields. The exact fields you require depends on your gateway settings, but often just the first line of the address (<code>DLaddress1</code>) and the postcode (<code>DLpostcode</code>) are required.</p>
<p>For direct debit and ACH payments, the title, forename, lastname, first line of the address, city and postcode are always required.</p>
<h4 id="dltitle">DLtitle</h4>
<p>The salutation or title.</p>
<h4 id="dlforename">DLforename</h4>
<p>The first name.</p>
<h4 id="dllastname">DLlastname</h4>
<p>The last name.</p>
<h4 id="dladdress1">DLaddress1</h4>
<p>The first line of the address.</p>
<h4 id="dladdress2">DLaddress2</h4>
<p>The second line of the address.</p>
<h4 id="dlcity">DLcity</h4>
<p>The town or city of the address</p>
<h4 id="dlcounty">DLcounty</h4>
<p>The county or state of the address</p>
<h4 id="dlcountry">DLcountry</h4>
<p>The country of the address</p>
<h4 id="dlpostcode">DLpostcode</h4>
<p>The postcode, or zip code of the address.</p>
<h1 id="pre-populating-the-template">Pre-populating the template</h1>
<p>The template will be pre-populated with values for the above parameters if values are provided as part of the URL string.</p>
<p>For example, if the normal URL to the payment page is:</p>
<p><a href="https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431">https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431</a></p>
<p>Then the email can be pre-populated with the following URL:</p>
<p><a href="https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431&amp;DLemail=test@asperato.com">https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431&amp;DLemail=test@asperato.com</a></p>
<h1 id="direct-debit-legal-requirements">Direct Debit Legal Requirements</h1>
<p>While the look and feel of both the payment and exit screens can be changed, the following rules must be adhered to if UK direct debit or SEPA payments are being used. These requirements are mandatory and non-negotiable as they are required under UK law.</p>
<p>The example payment page template includes all these requirements, so if you are just modifying the colours, fonts, and logo in use then you need not worry about the contents of this document. If you are developing a template with a radically different look and feel, we will need to send these to GoCardless for verification before they can be used live (this process can typically take a couple of weeks, depending on how many changes are required.)</p>
<h2 id="payment-page-requirements">Payment page requirements</h2>
<p><strong>Account name field must be called “Account name”</strong>
The label for the account name field must not be changed - it must also be presented in a logical block next to the account number and sort code. (In particular, it cannot be changed just to “name”.)</p>
<p><strong>Retain confirmation that only one user is required to authorise payments.</strong>
The check box that asks whether multiple signatures are needed to set up a direct debit on this account must be retained.</p>
<p><strong>Confirm customer details before submission.</strong>
The customer’s bank account details (including account name, account number and sort code) must be relayed back to the customer in a confirmation dialog, with the opportunity to amend these details, before the form is submitted.</p>
<p><strong>Provide your contact details</strong>
You need to provide the name, address, phone number and email address of your payment provider somewhere on the payment page, usually in the footer. Note that if you are using GoCardless standard, this needs to be kept as GoCardless’ details (included in the sample template.) If you are using GoCardless Pro with your own SUN, then these need to be your own details.</p>
<p><strong>Include a link to the direct debit guarantee</strong>
A link must be clearly visible on the page that points to the direct debit guarantee - the wording of the guarantee needs to stay exactly as it is in the sample template, aside from swapping out the company name. As previously, this needs to be left as GoCardless if GoCardless standard is being used, and changed to your company name if you are using GoCardless Pro with your own SUN.</p>
<h2 id="confirmation-page-requirements">Confirmation page requirements</h2>
<p><strong>Show confirmation of setup</strong>
Confirmation that the direct debit was set up correctly must be displayed.</p>
<p><strong>Provide the mandate as a PDF link</strong>
You need to provide a link to the Direct Debit mandate as a PDF.</p>
<p><strong>Confirm that the customer will receive an email</strong>
You need to send the customer an email confirming that the direct debit was setup successfully, along with a link to their mandate (as above.) You need to state that this email will arrive in 3 business days.</p>
<p><strong>Confirm the name on the customer’s bank statement</strong>
You need to include “The name on your bank statement will be X” on your confirmation page. X will be “GoCardless” for GoCardless standard customers, and your company name for GoCardless Pro customers using their own SUN.</p>
<h2 id="error-page-requirements">Error page requirements</h2>
<p><strong>Confirm that the Direct Debit was not set up</strong>
Confirm to the user that an error occurred, and as a result the direct debit was not set up correctly.</p></div>
        
    </div>

    <footer class="col-md-12 text-center">
        <hr>
        <p>
    </footer>

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/bootstrap-3.0.3.min.js"></script>
    <script src="../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '..';
    </script>
    <script data-main="../mkdocs/js/search.js" src="../mkdocs/js/require.js"></script>
    <script src="../js/base.js"></script>

    </body>

</html>
