<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="../img/favicon.ico">

    <title>Templates - Asperato developers</title>

    <link href="../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/highlight.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="..">Asperato developers</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="..">Home</a>
                    </li>
                
                
                
                    <li >
                        <a href="../overview/">Overview</a>
                    </li>
                
                
                
                    <li >
                        <a href="../sf/">Asperato ONE</a>
                    </li>
                
                
                
                    <li class="active">
                        <a href="./">Templates</a>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                
                    <li >
                        <a rel="next" href="../sf/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li class="disabled">
                        <a rel="prev" >
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/Asperato/docs">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#payment-template">Payment template</a></li>
        
            <li class="second-level"><a href="#template-features">Template features</a></li>
            
        
            <li class="second-level"><a href="#passing-parameters">Passing parameters</a></li>
            
        
            <li class="second-level"><a href="#minor-stylistic-changes">Minor stylistic changes</a></li>
            
        
            <li class="second-level"><a href="#using-the-template-in-an-iframe">Using the template in an iframe</a></li>
            
        
            <li class="second-level"><a href="#field-names">Field names</a></li>
            
                <li class="third-level"><a href="#dlamount">DLamount</a></li>
            
                <li class="third-level"><a href="#dlemail">DLemail</a></li>
            
                <li class="third-level"><a href="#dlforename">DLforename</a></li>
            
                <li class="third-level"><a href="#dllastname">DLlastname</a></li>
            
                <li class="third-level"><a href="#dladdress1">DLaddress1</a></li>
            
                <li class="third-level"><a href="#dladdress2">DLaddress2</a></li>
            
                <li class="third-level"><a href="#dlcity">DLcity</a></li>
            
                <li class="third-level"><a href="#dlcounty">DLcounty</a></li>
            
                <li class="third-level"><a href="#dlcountry">DLcountry</a></li>
            
                <li class="third-level"><a href="#dlpostcode">DLpostcode</a></li>
            
        
            <li class="second-level"><a href="#entirely-custom-payment-page">Entirely custom payment page</a></li>
            
        
    
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<h1 id="payment-template">Payment template</h1>
<p>The standard payment template is provided by Asperato and will look similar to the following:</p>
<p><img alt="Asperato standard payment template" src="../unmodified_template.png" title="Asperato standard template" /></p>
<h2 id="template-features">Template features</h2>
<p>Out of the box, the template is highly dynamic and responds to a number of different parameters that can be set either from Salesforce or from the URL:</p>
<ul>
<li>Amount</li>
<li>Frequency (including one off payments)</li>
<li>Payment types (including combinations of payment types, such as Card &amp; Direct Debit, Paypal &amp; Direct Debit, Card, Paypal &amp; eCheck, etc.)</li>
<li>Address data (can be pre-populated)</li>
<li>URL to navigate to on completion of the payment</li>
</ul>
<p>The template also has the following dynamic elements built in:</p>
<ul>
<li>Notification if the Salesforce webservice cannot be contacted</li>
<li>UK postcode checker &amp; lookup</li>
<li>Display of card type based on card number</li>
<li>Validation of card number using Luhn algorithm</li>
<li>Display of issue number &amp; start date fields only if the card requires it</li>
<li>Validation of security code as 3 or 4 digits depending on the card type</li>
<li>Ability to switch between Card, Direct debit, eCheck or Paypal on the fly</li>
<li>Ability to enter IBAN or distinct local bank details for all BACS / SEPA European Direct Debit countries</li>
<li>Automatic hiding / showing and labelling of local bank detail fields based on selected country</li>
<li>Compliant to BACS and SEPA scheme rules, correct compliance labelling is determined by scheme rules in the selected country</li>
</ul>
<p>The template is fully responsive, works on all the latest versions of major browsers, and is routinely updated by Asperato to work with new card ranges and payment types.</p>
<h2 id="passing-parameters">Passing parameters</h2>
<p>Parameters may be passed to the payment page via URL parameters, as well as from Salesforce. Passing parameters in the URL is often useful for testing purposes.</p>
<p>The parameters are simply added to the end of the URL in the normal <code>GET</code> format. For the parameter names, please see the "Field names" section below.</p>
<p>As an example, if the normal URL to the payment page is:</p>
<p>https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431</p>
<p>Then the email can be pre-populated to "test@asperato.com", and the amount to £12 with the following URL:</p>
<p>https://test.protectedpayments.net/Asperato/asp/PMWeb1?pmRef=73&amp;campaignRef=431&amp;DLemail=test@asperato.com&amp;DLamount=12</p>
<h2 id="minor-stylistic-changes">Minor stylistic changes</h2>
<p>Minor stylistic changes, such as the fonts, colours and logo used can be made by Asperato. If you would like any customised changes in this regard, contact support@asperato.com with details of the changes required.</p>
<h2 id="using-the-template-in-an-iframe">Using the template in an iframe</h2>
<p>Many customers wish to use the template in an iframe as part of their existing site, rather than displaying it as a standalone page - this is supported by Asperato, as long as the containing site is served over TLS1.2 or newer. Please make sure your iframe element is large enough to contain the payment form without any scrollbars. We recommend a size of at least 500px width and 1000px height.</p>
<p>Non-secure pages may not iframe the Asperato payment page in this way, as customers have no easy way of determining that the iframe itself is securing if the surrounding page is not.</p>
<h2 id="field-names">Field names</h2>
<p>These field names can be passed to the URL of the payment page to pre-populate details.</p>
<h3 id="dlamount">DLamount</h3>
<p>The amount to charge. One of DLamount or DLauthAmount must be provided, depending on whether this is a payment template or an authorisation template.</p>
<h3 id="dlemail">DLemail</h3>
<p>The email address of the customer.</p>
<h3 id="dlforename">DLforename</h3>
<p>The first name.</p>
<h3 id="dllastname">DLlastname</h3>
<p>The last name.</p>
<h3 id="dladdress1">DLaddress1</h3>
<p>The first line of the address.</p>
<h3 id="dladdress2">DLaddress2</h3>
<p>The second line of the address.</p>
<h3 id="dlcity">DLcity</h3>
<p>The town or city of the address.</p>
<h3 id="dlcounty">DLcounty</h3>
<p>The county or state of the address.</p>
<h3 id="dlcountry">DLcountry</h3>
<p>The country of the address.</p>
<h3 id="dlpostcode">DLpostcode</h3>
<p>The postcode, or zip code of the address.</p>
<h2 id="entirely-custom-payment-page">Entirely custom payment page</h2>
<p>It is possible, but not recommended, to design a custom payment page from scratch with the above functionality. In our experience this rarely works well due to the number of corner cases that must be covered. If you choose this route for your payment pages, it will incur an additional charge and will not be supported by Asperato.</p></div>
        
    </div>

    <footer class="col-md-12 text-center">
        <hr>
        <p>
    </footer>

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/bootstrap-3.0.3.min.js"></script>
    <script src="../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '..';
    </script>
    <script data-main="../mkdocs/js/search.js" src="../mkdocs/js/require.js"></script>
    <script src="../js/base.js"></script>

    </body>

</html>
